.my_input{
  color: white !important;
  background-color: transparent !important;
}
 .accept{
    background: #16a085;
    border: #16a085;
    color:#ffffff;
}
.reject{
    color:#ffffff;
    background: #ff2d2d;
    border: #ff2d2d;
}