<div class="page page-dashboard">
  <div class="">

   <h2>Drafted Files</h2>

  </div>
</div>

<div class="page page-tables-bootstrap">

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">


        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen07">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Drafted Orders</strong> Table</h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen07 = !isFullscreen07">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <fa name="magnet"></fa> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <!--<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>-->
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile widget -->
          <div class="tile-widget">

            <div class="row">

              <div class="col-sm-5">
                <select class="input-sm form-control inline w-sm">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="2">Archive selected</option>
                  <option value="3">Copy selected</option>
                </select>
                <button class="btn btn-sm btn-default">Apply</button>
              </div>

              <div class="col-sm-3"></div>

              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" class="input-sm form-control" placeholder="Search..." ng-model="searchUserName">
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>

            </div>

          </div>
          <!-- /tile widget -->

           <!-- tile body -->
          <div class="tile-body p-0">

            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th style="width:20px;">
                      <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                        <!--<input type="checkbox" ng-model="selectedAll" ng-change="selectAll()"><i></i>-->
                      </label>
                    </th>
                    <!--<th>Sr. no</th>-->
                    <th>Order Name </th>
                    <th>Received Time</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in allOrdersStagesData | filter:{name:searchUserName}">
                    <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-model="order.selected"><i></i></label></td>
                    <!--<td>{{$index}}</td>-->
                    <td>{{order.name}}</td>
                    <td>{{order.recievedTime}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.amount}}</td>
                    <td><a href="#/app/order">Proceed</a> &nbsp;&nbsp;<a href="">Delete</a></td>
                    <!--<td>
                      <span class="check-toggler" ng-class="{checked: order.checked}" ng-click="order.checked = !order.checked"></span>
                    </td>-->
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
          <!-- /tile body -->

          <!-- tile footer -->
          <div class="tile-footer dvd dvd-top">
            <div class="row">

              <div class="col-sm-5 hidden-xs">
                <select class="input-sm form-control w-sm inline">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="2">Archive selected</option>
                  <option value="3">Copy selected</option>
                </select>
                <button class="btn btn-sm btn-default">Apply</button>
              </div>

              <div class="col-sm-3 text-center">
                <small class="text-muted">showing 20-30 of 50 items</small>
              </div>

              <div class="col-sm-4 text-right">
                <ul class="pagination pagination-sm m-0">
                  <li><a href><i class="fa fa-chevron-left"></i></a></li>
                  <li><a href>1</a></li>
                  <li><a href>2</a></li>
                  <li><a href>3</a></li>
                  <li><a href><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- /tile footer -->

        </section>
        <!-- /tile -->



      </div>
      <!-- /col -->
    </div>
    <!-- /row -->

  </div>
  <!-- /page content -->
  
</div>