<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <uib-accordion-group is-open="status.isFirstOpen">
      <uib-accordion-heading>
        Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><fa name="dashboard"></fa> <span>Dashboard</span></a></li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.user')}">
          <a ui-sref="app.user"><fa name="user"></fa> <span>USERS</span> 
          <!--<span class="badge bg-lightred">6</span>-->
          </a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.user.admin"><fa name="caret-right"></fa>ADMIN</a></li>
            <li ui-sref-active="active"><a ui-sref="app.user.client"><fa name="caret-right"> </fa>CLIENTS</a></li>
            <li ui-sref-active="active"><a ui-sref="app.user.qc"><fa name="caret-right"></fa>QC</a></li>
            <li ui-sref-active="active"><a ui-sref="app.user.drafter"><fa name="caret-right"></fa>DRAFTERS</a></li>
          </ul>
        </li>

        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.orders')}">
          <a ui-sref="app.orders"><fa name="list"></fa> <span>ORDERS</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.orders.unassigned"><fa name="caret-right"></fa>UNASSIGNED</a></li>
            <li ui-sref-active="active"><a ui-sref="app.orders.assigned"><fa name="caret-right"></fa> ASSIGNED</a></li>
            <li ui-sref-active="active"><a ui-sref="app.orders.drafted"><fa name="caret-right"></fa> DRAFTED</a></li>
            <li ui-sref-active="active"><a ui-sref="app.orders.reassigned"><fa name="caret-right"></fa>REASSIGNED </a></li>
            <li ui-sref-active="active"><a ui-sref="app.orders.completed"><fa name="caret-right"></fa>COMPLETED </a></li>
          </ul>
        </li>

        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}">
          <a ui-sref="app.invoice"><fa name="file-pdf-o"></fa> <span>INVOICE</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.invoice.paid"><fa name="caret-right"></fa>PAID</a></li>
            <li ui-sref-active="active"><a ui-sref="app.invoice.unpaid"><fa name="caret-right"> </fa>UNPAID</a></li>
          </ul>
        </li>
        
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.material')}">
          <a ui-sref="app.material"><fa name="files-o"></fa> <span>REPORTS</span></a>
        </li>
<!--      
         <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}">
          <a ui-sref="app.ui"><fa name="pencil"></fa> <span>{{ 'Menu.UI_KIT' | translate }}</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.ui.general"><fa name="caret-right"></fa> {{ 'Menu.GENERAL_ELEMENTS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.buttons-icons"><fa name="caret-right"></fa> {{ 'Menu.BUTTONS_ICONS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.typography"><fa name="caret-right"></fa> {{ 'Menu.TYPOGRAPHY' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.navs"><fa name="caret-right"></fa> {{ 'Menu.NAVIGATION_ACCORDIONS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.modals"><fa name="caret-right"></fa> {{ 'Menu.MODALS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.tiles"><fa name="caret-right"></fa> {{ 'Menu.TILES' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.portlets"><fa name="caret-right"></fa> {{ 'Menu.PORTLETS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="apptitle.ui.grid"><fa name="caret-right"></fa> {{ 'Menu.GRID' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.widgets"><fa name="caret-right"></fa> {{ 'Menu.WIDGETS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.tree"><fa name="caret-right"></fa> {{ 'Menu.TREE' | translate }} </a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.lists"><fa name="caret-right"></fa> {{ 'Menu.LISTS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.alerts"><fa name="caret-right"></fa> {{ 'Menu.ALERTS_NOTIFICATIONS' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.masonry"><fa name="caret-right"></fa> {{ 'Menu.MASONRY' | translate }} <span class="label label-success">new</span></a></li>
            <li ui-sref-active="active"><a ui-sref="app.ui.dragula"><fa name="caret-right"></fa> {{ 'Menu.DRAGULA' | translate }} <span class="label label-success">new</span></a></li>
          </ul>
        </li>
        
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.material')}">
          <a ui-sref="app.material"><fa name="puzzle-piece"></fa> <span>{{ 'Menu.MATERIAL_UI' | translate }}</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.material.autocomplete"><fa name="caret-right"></fa> Autocomplete</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.bottom-sheet"><fa name="caret-right"></fa> Bottom Sheet</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.buttons"><fa name="caret-right"></fa> Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.cards"><fa name="caret-right"></fa> Cards</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.checkbox"><fa name="caret-right"></fa> Checkbox</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.chips"><fa name="caret-right"></fa> Chips</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.content"><fa name="caret-right"></fa> Content</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.dialog"><fa name="caret-right"></fa> Dialog</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.divider"><fa name="caret-right"></fa> Divider</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.fab-speed-dial"><fa name="caret-right"></fa> FAB Speed Dial</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.fab-toolbar"><fa name="caret-right"></fa> FAB Toolbar</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.grid-list"><fa name="caret-right"></fa> Grid List</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.inputs"><fa name="caret-right"></fa> Inputs</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.list"><fa name="caret-right"></fa> List</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.menu"><fa name="caret-right"></fa> Menu</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.progress-circular"><fa name="caret-right"></fa> Progress Circular</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.progress-linear"><fa name="caret-right"></fa> Progress Linear</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.radio-button"><fa name="caret-right"></fa> Radio Button</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.select"><fa name="caret-right"></fa> Select</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.sidenav"><fa name="caret-right"></fa> Sidenav</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.slider"><fa name="caret-right"></fa> Slider</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.subheader"><fa name="caret-right"></fa> Subheader</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.swipe"><fa name="caret-right"></fa> Swipe</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.switch"><fa name="caret-right"></fa> Switch</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.tabs"><fa name="caret-right"></fa> Tabs</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.toast"><fa name="caret-right"></fa> Toast</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.toolbar"><fa name="caret-right"></fa> Toolbar</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.tooltip"><fa name="caret-right"></fa> Tooltip</a></li>
            <li ui-sref-active="active"><a ui-sref="app.material.whiteframe"><fa name="caret-right"></fa> Whiteframe</a></li>
          </ul>
        </li>
        
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.tables')}">
          <a ui-sref="app.tables"><fa name="table"></fa> <span>{{ 'Menu.TABLES' | translate }}</span></a>
          <ul>
            <li ui-sref-active="active"><a ui-sref="app.tables.bootstrap"><fa name="caret-right"></fa> {{ 'Menu.BOOTSTRAP_TABLES' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.datatables"><fa name="caret-right"></fa> {{ 'Menu.DATATABLES' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.ui-grid"><fa name="caret-right"></fa> {{ 'Menu.UI_GRID' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.ng-table"><fa name="caret-right"></fa> {{ 'Menu.NGTABLE' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.smart-table"><fa name="caret-right"></fa> {{ 'Menu.SMARTTABLE' | translate }}</a></li>
            <li ui-sref-active="active"><a ui-sref="app.tables.footable"><fa name="caret-right"></fa> {{ 'Menu.FOOTABLE' | translate }}</a></li>
          </ul>
        </li>-->

      </ul>
    </uib-accordion-group>

    <!--<uib-accordion-group is-open="status.isSecondOpen" class="charts">
      <uib-accordion-heading>
        Orders Summary <i class="pull-right fa" ng-class="{'fa-angle-up': status.isSecondOpen, 'fa-angle-down': !status.isSecondOpen}"></i>
      </uib-accordion-heading>

      <div ng-controller="SparklineCtrl" class="summary">

        <div class="media">
          <a class="pull-right" href="#">
            <span sparkline data="navChart1.data" options="navChart1.options"></span>
          </a>
          <div class="media-body">
            This week sales
            <h4 class="media-heading">26, 149</h4>
          </div>
        </div>

        <div class="media">
          <a class="pull-right" href="#">
            <span sparkline data="navChart2.data" options="navChart2.options"></span>
          </a>
          <div class="media-body">
            This week balance
            <h4 class="media-heading">318, 651</h4>
          </div>
        </div>

      </div>

    </uib-accordion-group>

    <uib-accordion-group is-open="status.isThirdOpen" class="settings">
      <uib-accordion-heading>
        General Settings <i class="pull-right fa" ng-class="{'fa-angle-up': status.isThirdOpen, 'fa-angle-down': !status.isThirdOpen}"></i>
      </uib-accordion-heading>

      <div class="form-group">
        <div class="row">
          <label class="col-xs-8 control-label">Switch ON</label>
          <div class="col-xs-4 control-label">
            <div class="onoffswitch greensea">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-on" checked="">
              <label class="onoffswitch-label" for="switch-on">
                <span class="onoffswitch-inner"></span>
                <span class="onoffs<span class="badge bg-lightred">6</span>witch-switch"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="col-xs-8 control-label">Switch OFF</label>
          <div class="col-xs-4 control-label">
            <div class="onoffswitch greensea">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-off">
              <label class="onoffswitch-label" for="switch-off">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

    </uib-accordion-group>-->

  </uib-accordion>
</div>
