<div class="page page-modals">



    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">

          <!-- tile body -->
          <div class="tile-body" ng-controller="SplashDemoCtrl">

            <script type="text/ng-template" id="createClient.html">
              <div class="modal-header">
                <h3 class="modal-title custom-font">I'm a modal!</h3>
              </div>
              <div class="modal-body">

                <p>This surttyuytuytuuuuue is a fine modal, isn't it?</p>

                <ul>
                  <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                  </li>
                </ul>

                Selected: <b>{{ selected.item }}</b>

              </div>
              <div class="modal-footer">
                <button class="btn btn-default btn-border" ng-click="ok()">Submit</button>
                <button class="btn btn-default btn-border" ng-click="cancel()">Cancel</button>
              </div>
            </script>

            <script type="text/ng-template" id="editClient.html">
              <div class="modal-header">
                <h3 class="modal-title custom-font">I'm a modal!</h3>
              </div>
              <div class="modal-body">

                <p>This surttyuytuytuuuuue is a fine modal, isn't it?</p>

                <ul>
                  <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                  </li>
                </ul>

                Selected: <b>{{ selected.item }}</b>

              </div>
              <div class="modal-footer">
                <button class="btn btn-default btn-border" ng-click="ok()">Submit</button>
                <button class="btn btn-default btn-border" ng-click="cancel()">Cancel</button>
              </div>
            </script>

            <div class="row">
              <div class="col-md-4">
                 <button class="btn btn-success mb-10" ng-click="openSplash($event)" data-options="splash-1 splash-ef-1" data-id="create">Create</button>
                 <button class="btn btn-success mb-10" ng-click="openSplash($event)" data-options="splash-1 splash-ef-1" data-id="edit">Edit</button>
               </div>

              <!--<div class="col-md-4">
                  <button class="btn btn-warning mb-10" ng-click="openSplash($event)" data-options="splash-2 splash-greensea splash-ef-13">Just Me</button>
              </div>-->
            </div>



            <div ng-show="selected">Selection from a modal: {{ selected }}</div>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->

    </div>
    <!-- /row -->

  </div>
  <!-- /page content -->

</div>
